.cards {
  display: flex;
  padding: 51px 0 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  grid-column-gap: 18px;
  grid-row-gap: 21px;
  justify-items: center;
  list-style: none;
}

@media screen and (max-width: 748px) {
  .elements {
    padding: 36px 0 0;
    grid-row-gap: 21px;
  }
}