.card__button-likes-counter {
  grid-area: likes-counter;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  padding-top: 2px;
}
