@import url(./__image/card__image.css);
@import url(./__elements/card__elements.css);
@import url(./__title/card__titile.css);
@import url(./__button-like/card__button-like.css);
@import url(./__button-likes-counter/card__button-likes-counter.css);
@import url(./__button-like/_active/card__button-like_active.css);
@import url(./__button-delete/card__button-delete.css);

.card {
  width: 100%;
  background-color: #FFFFFF;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}